* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

.country-symbol {
    padding: 11px;
    background: aliceblue;
    display: grid;
    width: 21%;
    text-align: initial;
    border-radius: 8px;
}

.country-symbol>select {
    background: transparent;
    border: none;
    color: gray;
}

input {
    width: 81%;
    height: 35px;
    padding-right: 17px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: aliceblue;
}


/*********************************
/
/* Extra small devices (phones, 600px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .container {
        padding-left: 25%;
        padding-right: 25%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .container {
        padding-left: 25%;
        padding-right: 25%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .container {
        padding-left: 25%;
        padding-right: 25%;
    }
}